/* COMMON */
* {
  box-sizing: border-box;
}

body {
  cursor:default;
  font-family: 'Roboto', sans-serif;
}

address {
  font-style: normal;
}

a {
  color: #f5f5f5;
}

.hide-class {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  visibility: hidden;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 500px;
}

.textbox {
  background-color:rgba(0,0,0,0.6);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h3 {
  font-size: 45px;
  color: #eeeeee;
  padding: 12px 8px;
}

p {
  font-size: 14px;
  line-height: 1.4em;
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

small {
  font-size: 1em;
  line-height: 1em;
  font-weight: 400;
}

.logo {
  width: 250px;
  height: 85px;
}

.logo img {
  width: 100%;
  height: 100%;
}

/* HEADER */
header {
  background-color: #e0e0e0;
  
}

header > .inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  padding: 12px 0;
}

.header__sign {
  position: absolute;
  top: 10px;
  right: 33px;
  display: flex;
}

.header__sign li a {
  display: block;
  padding: 8px 12px;
  font-size: 12px;
}

.header__sign li a,
.header__menu li a {
  color: #424242;
}

.header__menu {
  display: flex;
  margin-top: 40px;
}

.header__menu li:hover .submenu {
  display: block;
}

.header__menu:hover {
}

.header__menu li {
 position: relative;
 flex-basis: 0;
}

.header__menu li a {
  display: block;
  padding: 8px 30px;
  text-align: center;
}

.header__menu li .submenu {
  font-size: 12px;
  position: absolute;
  top:50px;
  left: 0;
  background-color: rgba(224, 224, 224,0.5);
  display: none;
}

.header__menu li .submenu li {
  
  
}

.header__menu li .submenu li a {
  line-height: 1.4em;
}



/* MAIN */
#main {
  background-image: url("../images/h1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .main__title {
  font-size: 70px;
  text-align: center;
  line-height: 500px;
  padding: 0;
}

/* VISION */
#vision {
  background-image: url("../images/brand_01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#vision .textbox {
  width: 450px;
  position: absolute;
  top: 170px;
  right: 100px;
}

/* mission-and-exclusive */
#mission-and-exclusive {
  background-image: url("../images/brand_02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mission-and-exclusive .textbox {
  width: 400px;
  height: 100%;
  position: relative;
}

#mission-and-exclusive .mission {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 30px;
}

#mission-and-exclusive .exclusive {
  color: #eeeeee;
}

#mission-and-exclusive .exclusive__title {
  font-size: 35px;
  padding: 12px 8px;
  text-align: center;
}

#mission-and-exclusive .exclusive__description {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.4em;
}

/*ESSENCE  */
#essence {
  background-image: url("../images/brand_03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#essence .textbox {
  width: 450px;
  position: absolute;
  top: 170px;
  right: 100px;
}

/* SLOGAN */
#slogan {
  background-image: url("../images/brand_04.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#slogan .textbox {
  width: 450px;
  position: absolute;
  top: 170px;
  left: 100px;
}

#slogan .textbox p {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* FOOTER */
footer {
  background-color:#424242;
  padding: 20px 12px;
}

footer > .inner {
  height: 200px;
}

footer .about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

footer .about .footer__menu {
  display: flex;
}

footer .about .footer__menu li {
  position: relative;
}

footer .about .footer__menu li::after {
  content:"";
  display: block;
  width: 1px;
  height: 20px;
  background-color: #616161;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

footer .about .footer__menu li:first-child::after {
  display: none;
}

footer .about .footer__menu li a {
  display: block;
  padding: 8px 20px;
  font-size: 12px;
  color: #bdbdbd;
}

footer .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .details .detail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #f5f5f5;
  font-size: 13px;
  flex-basis: 70%;
}

footer .details .detail li {
  line-height: 1.4em;
  color: #bdbdbd;
}

footer .details .detail li:last-child {
  display: flex;
  flex-direction: column;
}

footer .details .footer__rights {
  position: absolute;
  bottom:20px;
  color: #707070;
  font-size: 14px;
}

footer .details .footer__links {
  display: flex;
  flex-basis: 30%;
}

footer .details .footer__links li {
  padding: 0 8px;
}
